*{
    border: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-image: url(/assets/img/background-img.jpg);
}

.title{
    margin: 0 0 10px 0;
    font-size: 50px;
    opacity: 0.9;
    color: #8a127a;
}

.container{
    background-color: #e6dddd;
    width: 50%;
    border-radius: 10px;
    text-align: center;
    display: flex;
    opacity: 0.8;
    flex-direction: column;
    padding: 20px;
}

label{
    margin: 10px auto;
    text-align: left;
    width: 70%;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    color: #777777;
}

select{
    appearance: none;
    margin-top: 10px;
    padding: 10px 0 10px 4px;
    width: 100%;
    border-radius: 2px;
    background-color: #f7f7f7;
    border: 1px solid #BBBBBB;
    
}

.seta{
    width: 5%;
    margin: 5px 0;
}

input{
    margin-top: 10px;
    padding: 10px 0 10px 4px;
    width: 100%;
    border-radius: 2px;
    background-color: #f7f7f7;  
    border: 1px solid #BBBBBB;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.15);
}

button{
    padding: 10px 0 10px 4px;
    width: 50%;
    margin: 10px auto;
    border-radius: 2px;
    background: linear-gradient(90deg, rgb(144, 10, 161) 0%, rgb(152, 24, 190) 0%, rgb(75, 14, 83) 100%);
    color: #fff;
    cursor: pointer;
}

.result{
    border: 1px solid rgba(9,9,121,1);
    border-radius: 3px;
    width: 80%;
    margin: auto;
    padding: 20px 0;
    height: auto;
}

.imgMoney, .imgMoneyTwo{
    width: 7%;
    margin: 0;
}

p{
    margin: 0; 
    font-size: 12px;
    color: #777777;;
}



h4{
    margin: 0;
    font-size: 12px;
    font-family: 'Roboto';
font-style: normal;
font-weight: 700;
}